* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(39, 36, 36);
}

.Article-heading {
  width: 80%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin: 50px auto;
}

.Article-Image {
  width: 60%;
  height: 400px;
  background: url(../article.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.Article-writer {
  width: 80%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 100px;
}

.writer-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url(../article.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.writer-name {
  float: left;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 15px;
  color: #1b276d;
  margin-left: 20px;
}
.writer-metas {
  height: 100px;
  padding-top: 10px;
  margin-right: 50px;
  font-size: 30px;
  color: red;
  float: right;
}

.Article-content {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-left: 10%;
  background-color: white;
  overflow: hidden;
}

.Article-content h5,
.Article-content h6 {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  font-weight: lighter;
}

.Article-content h1 {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: underline;
}

.Article-content-comment-box {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid grey;
}
.Article-content-comment {
  width: 80%;
  margin: 19px auto;
  border-left: 1px solid black;
  overflow: hidden;
  padding: 0 10px;
  font-size: small;
}

.hidden {
  display: none;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .Article-content,
  .Article-writer,
  .Article-Image {
    width: 400px;
  }
  .Article-content {
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .writer-name {
    font-size: 10px;
    padding-top: 20px;
  }
  .writer-metas {
    font-size: 20px;
    padding-top: 15px;
    margin-right: 5%;
  }
}

@media screen and (max-width: 400px) {
  .Article-content h1 {
    font-size: large;
  }
}
