.home-articles {
  margin: auto;
}
* {
  margin: 0%;
  padding: 0;
}
.articles-heading {
  width: 80%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 10px;
}

.text-gradient {
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #f3ec78, #af4261);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.articles {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  height: 1000px;
}

.articles-left {
  width: 800px;
  float: left;
}

.articles-right {
  width: 350px;
  height: 400px;
  float: left;
  margin-left: 40px;
}

.article-navbar {
  width: 604px;
  margin: auto;
  height: 50px;
  margin-top: 20px;
  overflow: hidden;
}

.article-navabr-icon {
  width: 115px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  background-color: aquamarine;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .article-navabr-icon {
    width: 80px;
  }
  .article-navbar {
    width: 450px;
  }
}

.article-1 {
  width: 800px;
  height: 200px;
  margin: 20px 0px;
}

.article-1-left,
.article-2-left,
.article-3-left,
.article-4-left {
  width: 200px;
  height: 200px;
  float: left;
  background: url(4.jfif);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.article-1-right {
  width: 590px;
  height: 200px;
  float: left;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  border-radius: 0 20px 20px 0;
}

.article-1-type,
.article-2-type,
.article-3-type,
.article-4-type {
  padding-top: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: chartreuse;
  font-size: large;
  font-weight: bolder;

  position: relative;
  top: 150px;
  left: 30px;
}

.article-1-heading,
.article-2-heading,
.article-3-heading,
.article-4-heading {
  width: 500px;
  margin: auto;
  margin-top: 10px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: x-large;
  color: #edf2f4;
}

.article-1-author {
  width: 500px;
  text-align: left;
  margin: auto;

  margin-top: 10px;
  color: #fdf0d5;
}

.user {
  margin-right: 10px;
}

.article-1-description {
  width: 500px;
  margin: auto;
  text-align: left;
  margin-top: 20px;
  font-weight: bold;
  color: #edf2f4;
}

.article-1-metas {
  width: 500px;
  margin: auto;
  text-align: left;
  color: aqua;
  margin-top: 15px;
  word-spacing: 10px;

  color: #f3f7f0;
}

.article-1-button {
  position: relative;
  left: 400px;
  top: -20px;
  background-color: transparent;
  color: #f9627d;
  box-shadow: none;
  border: none;
  text-decoration: none;
}

.articles-social {
  width: 300px;
  height: 200px;
  background-color: beige;
  margin: auto;
}

.social-first {
  width: 300px;
  height: 100px;
  background-color: blanchedalmond;
}

.social-fb,
.social-twitter {
  width: 130px;
  height: 100px;
  float: left;
  margin: 0 10px;
}

.logo {
  width: 50px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  margin-left: 5px;
  color: rgb(57, 143, 129);
}

.fa-youtube-square {
  color: red;
}

.fa-instagram-square {
  color: #bc2a8d;
}

.followers {
  width: 40px;
  height: 100px;
  margin-top: 25px;
  margin-left: 10px;
  text-align: center;
}

.followers h4 {
  font-weight: 1100;
  font-size: x-large;
}

.logo,
.followers {
  float: left;
}

.articles-ad {
  width: 350px;
  margin-top: 50px;
  height: 700px;
  background: url(ad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
}

@media screen and (max-width: 1200px) {
  .articles {
    width: 100%;
    height: 1450px;
    margin: auto;
  }
  .home-articles {
    width: 100%;
    margin: none;
  }
  .articles-right,
  .articles-left {
    float: none;
  }
  .articles-right {
    width: 800px;
    margin: auto;
    margin-top: 100px;
  }
  .articles-left,
  .articles {
    margin: auto;
  }
  .articles-ad,
  .articles-social {
    float: left;
    margin: 0;
  }

  .articles-social {
    margin-top: 100px;
  }

  .articles-ad {
    height: 400px;

    width: 300px;

    margin-left: 200px;
  }
}
@media screen and (max-width: 400px) {
  .article-navbar {
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
  }
  .article-navabr-icon {
    width: 15%;
  }
}
@media screen and (max-width: 800px) {
  .home-articles {
    height: 1750px;
  }

  .articles-right {
    width: 80%;
    margin: auto;
  }

  .articles-social {
    margin: auto;
    margin-top: 100px;
  }

  .articles-ad,
  .articles-social {
    float: none;
  }

  .articles-ad {
    margin: auto;
    margin-top: 50px;
  }

  .articles-left {
    width: 100%;
  }
  .article-navbar {
    width: 370px;
    height: 40px;
    margin-bottom: 40px;
  }

  .article-navabr-icon {
    width: 70px;
    margin: auto;
  }
  .article-1 {
    width: 400px;
    margin: auto;
    margin-top: 10px;
  }
  .article-1-right {
    width: 200px;
    overflow: hidden;
  }

  .article-1-heading,
  .article-2-heading,
  .article-3-heading,
  .article-4-heading,
  .article-1-description,
  .article-1-metas,
  .article-1-author {
    width: 80%;
    font-size: small;
  }
}
