* {
  box-sizing: border-box;
}

.content-heading {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 10px;
  letter-spacing: 4px;
  font-size: larger;
}

.content-heading h1 {
  font-size: xxx-large;
  font-weight: bolder;
  letter-spacing: 10px;
}

.content- {
  display: flex;
}

.content-cards {
  width: 80%;
  text-align: center;
  margin-left: 10%;
}
.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6 {
  width: 400px;
  height: 350px;
  margin: 50px 50px;
  display: inline-block;
  overflow: hidden;
  border-radius: 20px;
}

.card {
  width: 400px;
  height: 350px;
  background-image: url(2.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card__header {
  position: relative;
  top: 100px;
}

.blog-category {
  width: 100px;
  background-color: blue;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  position: relative;
  left: 30px;
}

.blog-title {
  width: 340px;
  position: relative;
  left: 30px;
  top: 30px;
  text-align: left;
}

.blog-metas {
  position: relative;
  width: 340px;
  left: 30px;
  top: 50px;
  text-align: left;
}
/*
.card:hover {
  height: 600px;
  width: 400px;
  transition: all 2s;
}
*/

.card__hidden {
  width: 400px;
  height: 200px;
  background-color: blue;
}

.blog-excerpt {
  position: relative;
  top: 30px;
  left: 30px;
  width: 340px;
  height: 50px;
  overflow: hidden;
  color: azure;
  text-align: left;
}

.btn {
  position: relative;
  top: 70px;
  left: 0px;
  width: 340px;
  height: 50px;
  background-color: blueviolet;
}

.btn a {
  color: white;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

.container-1:hover,
.container-2:hover,
.container-3:hover,
.container-4:hover,
.container-5:hover,
.container-6:hover {
  height: 350px;
  transition: all 1s;
}

.container-1:hover > .card,
.container-2:hover > .card,
.container-3:hover > .card,
.container-4:hover > .card,
.container-5:hover > .card,
.container-6:hover > .card {
  height: 150px;
  transition: all 1s;
}

.container-1:hover > .card > .card__header > .blog-details > .blog-title,
.container-1:hover > .card > .card__header > .blog-details > .blog-metas,
.container-2:hover > .card > .card__header > .blog-details > .blog-title,
.container-2:hover > .card > .card__header > .blog-details > .blog-metas,
.container-3:hover > .card > .card__header > .blog-details > .blog-title,
.container-3:hover > .card > .card__header > .blog-details > .blog-metas,
.container-4:hover > .card > .card__header > .blog-details > .blog-title,
.container-4:hover > .card > .card__header > .blog-details > .blog-metas,
.container-5:hover > .card > .card__header > .blog-details > .blog-title,
.container-5:hover > .card > .card__header > .blog-details > .blog-metas,
.container-6:hover > .card > .card__header > .blog-details > .blog-title,
.container-6:hover > .card > .card__header > .blog-details > .blog-metas {
  display: none;
}

.container-1:hover > .card > .card__header > .blog-details > .blog-category,
.container-2:hover > .card > .card__header > .blog-details > .blog-category,
.container-3:hover > .card > .card__header > .blog-details > .blog-category,
.container-4:hover > .card > .card__header > .blog-details > .blog-category,
.container-5:hover > .card > .card__header > .blog-details > .blog-category,
.container-6:hover > .card > .card__header > .blog-details > .blog-category {
  transform: translateY(-20px);
  background-color: red;
  transition: all 1s;
}
.blog-author {
  position: relative;
  left: 30px;
  top: -80px;
  color: aqua;
  width: 340px;
  text-align: left;
}
