.image-slider {
  width: 1200px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  display: block;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  float: left;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: relative;
  background: transparent;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.manual-btn {
  background: transparent;
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
  background: transparent;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

.slider-cards {
  width: 400px;
  float: left;
}

.card-1,
.card-2 {
  width: 400px;
  height: 250px;
}

.card-1 {
  background: url(3.jfif);
  background-size: cover;
}
.card-2 {
  background: url(2.jfif);
  background-size: cover;
}

.card-1-type,
.card-2-type {
  background: transparent;
  width: 100px;
  height: 20px;
  background-color: tomato;
  position: relative;
  top: 120px;
  left: 30px;
  text-align: center;
}

.card-1-heading,
.card-2-heading {
  background: transparent;
  position: relative;
  top: 140px;
  color: white;
  font-weight: bolder;
  width: 340px;
  left: 30px;
}

.card-1-user,
.card-2-user {
  background: transparent;
  width: 340px;
  position: relative;
  top: 150px;
  left: 30px;
}

.card-1-user .fa-user,
.card-2-user .fa-user {
  background: transparent;
  color: aqua;
}

.card-1-user span,
.card-2-user span {
  background: transparent;
  color: aqua;
}

.card-1-user .fa-clock,
.card-2-user .fa-clock {
  margin-left: 20px;
  background: transparent;
  color: aqua;
}

@media screen and (max-width: 1200px) {
  .image-slider {
    width: 800px;
    height: 750px;
  }
  .slider-cards,
  .slider {
    float: none;
  }
  .slider-cards {
    width: 800px;
    height: 250px;
    overflow: hidden;
  }

  .carda {
    width: 400px;
    float: left;
  }
}

@media screen and (max-width: 800px) {
  .image-slider {
    width: 100%;
    height: 1000px;
  }
  .slider {
    width: 400px;
    height: 400px;
    margin: auto;
  }
  .slider-cards {
    width: 400px;
    height: 600px;
    margin: auto;
  }

  .carda {
    margin-top: 20px;
  }
  .navigation-auto,
  .navigation-manual {
    width: 400px;
  }
  .navigation-manual {
    margin-top: -140px;
  }
  .navigation-auto {
    margin-top: 360px;
  }
}

.card-1-heading a,
.card-2-heading a {
  text-decoration: none;
  color: white;
}
